/* freeCodeCamp Color Scheme */
/* from https://design-style-guide.freecodecamp.org/ */
:root {
  --cont-1-light: #ffffff;
  --cont-1-dark: #0a0a23;
  --cont-2-light: #f5f6f7;
  --cont-2-dark: #1b1b32;
  --cont-3-light: #dfdfe2;
  --cont-3-dark: #2a2a40;
  --cont-4-light: #d0d0d5;
  --cont-4-dark: #3b3b4f;
  --primary-purple: #dbb8ff;
  --primary-yellow: #f1be32;
  --primary-blue: #99c9ff;
  --primary-green: #acd157;
  --secondary-purple: #5a01a7;
  --secondary-yellow: #4d3800;
  --secondary-blue: #002ead;
  --secondary-green: #00471b;
}

/* border box model: https://css-tricks.com/box-sizing/ */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: var(--cont-2-light);
  background: var(--cont-2-dark);
}

#header {
  background-color: var(--cont-1-dark);
  margin-bottom: 2em;
  width: 100%;
}

#header-contents {
  padding: 1em;
  width: 50%;
  margin: auto;
}

.title {
  color: var(--cont-1-light);
  text-align: left;
  padding: 1em;
  display: inline;
}

#status-button {
  color: var(--cont-1-light);
  border: 1px solid var(--cont-1-light);
  display: inline;
  font-size: 1.5em;
  padding: 0.1em 0.4em 0.1em 0.4em;
}

#status-button:hover {
  background-color: var(--cont-1-light);
  color: var(--cont-1-dark);
}

.message-area {
  width: 50%;
  border: 5px solid var(--primary-green);
  margin: auto;
}

@media screen and (max-width: 768px) {
  .message-area {
    width: 100%;
  }
}

.message-text {
  margin: 20px;
  font-size: 1.2em;
}

.main-option {
  font-size: 1.2em;
  background-color: var(--secondary-blue);
  padding: 10px;
  width: 50%;
  margin: auto;
  margin-bottom: 20px;
}

.second-option {
  background-color: var(--primary-blue);
  font-size: 0.9em;
  color: var(--cont-1-dark);
  border: 1px solid var(--cont-1-dark);
  padding: 10px;
  max-width: 50%;
  margin: 5px auto 5px auto;
}
